<p>
  <h1><%= @person.name %></h1>
  <b>Sex:</b>
  <%= @person.sex.display_name %><br/>
  <b>Birthdate:</b>
  <%= @person.birthdate %><br/>
<% if @person.address %>
  <b>Address:</b><%= @person.address %><br/>
<% end %>
</p>

<% if @person.prescriptions_received.any? %>
<p><b>Prescriptions Received</b>
  <table class="table table-condensed">
    <tr>
      <th>Drug</th>
      <th>Prescriber</th>
      <th>When Written</th>
    </tr>

  <% @person.prescriptions_received.each do |rx| %>
  <tr>
    <td><%= rx.drug.name %></td>
    <td><%= rx.prescriber.name %></td>
    <td><%= rx.when_written %></td>
  </tr>
  <% end %>
  </table>
</p>
<% end %>

<% if @person.prescriptions_written.any? %>
<p><b>Prescriptions Written</b>
  <table class="table table-condensed">
    <tr>
      <th>Drug</th>
      <th>Patient</th>
      <th>When Written</th>
    </tr>

  <% @person.prescriptions_written.each do |rx| %>
  <tr>
    <td><%= rx.drug.name %></td>
    <td><%= rx.patient.name %></td>
    <td><%= rx.when_written %></td>
  </tr>
  <% end %>
  </table>
</p>
<% end %>

<% if @person.fulfillments.any? %>
<p><b>Fulfillments</b>
  <table class="table table-condensed">
    <tr>
      <th>Rx Number</th>
      <th>When Filled</th>
      <th>Pharmacy</th>
      <th>Prescription</th>
      <th>Quantity</th>
      <th>Status</th>
    </tr>

  <% @person.fulfillments.each do |fill| %>
  <tr>
    <td><%= fill.prescription_number %></td>
    <td><%= fill.when_filled %></td>
    <td><%= fill.pharmacy.name %></td>
    <td><%= link_to fill.prescription.id, prescription_path(fill.prescription) %></td>
    <td><%= fill.quantity_amount %> <%= fill.quantity_unit %></td>
    <td><%= fill.fill_status %></td>
  </tr>
  <% end %>
  </table>
</p>
<% end %>

<p>
<%= link_to edit_person_path(@person) do %>
<i class="icon-edit"></i> Edit
<% end %>
|
<%= link_to person_path(@person), method: :delete, data: { confirm: 'Are you sure?' } do %>
<i class="icon-remove"></i> Delete
<% end %>
</p>
<p>
<%= link_to people_path do %>
<i class="icon-chevron-up"></i> Back to People
<% end %>
</p>
