<p>
  <h1><%= @person.name %></h1>
  <b>Sex:</b>
  <%= @person.sex.display_name %><br/>
  <b>Birthdate:</b>
  <%= @person.birthdate %><br/>
<% if @person.address %>
  <b>Address:</b><%= @person.address %><br/>
<% end %>
</p>

<% if @person.prescriptions_received.any? %>
<p><b>Prescriptions Received</b>
  <table class="table table-condensed">
    <tr>
      <th>Drug</th>
      <th>Prescriber</th>
      <th>When Written</th>
    </tr>

  <% @person.prescriptions_received.each do |rx| %>
  <tr>
    <td><%= rx.drug.name %></td>
    <td><%= rx.prescriber.name %></td>
    <td><%= rx.when_written %></td>
  </tr>
  <% end %>
  </table>
</p>
<% end %>

<% if @person.prescriptions_written.any? %>
<p><b>Prescriptions Written</b>
  <table class="table table-condensed">
    <tr>
      <th>Drug</th>
      <th>Patient</th>
      <th>When Written</th>
    </tr>

  <% @person.prescriptions_written.each do |rx| %>
  <tr>
    <td><%= rx.drug.name %></td>
    <td><%= rx.patient.name %></td>
    <td><%= rx.when_written %></td>
  </tr>
  <% end %>
  </table>
</p>
<% end %>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
