<h1>Search</h1>

<%= simple_form_for @search, :method => 'get' do |s| %>
  <%= s.input :given, label: "Given (First) Name", input_html: { name: "given" } %>
  <%= s.input :family, label: "Family (Last) Name", input_html: { name: "family" } %>
  <%= s.input :gender, label: "Gender", collection: Sex.all.map { |s| [s.display_name, s.display_name.downcase] }, include_blank: true, input_html: { name: "gender" } %>
  <%= s.input :loc, label: "Location", input_html: { name: "loc" } %>
  <%= s.input :dob, label: "Date of Birth", input_html: { name: "dob" } %>

  <%= s.button :wrapped, "Search", :cancel => searches_path %>
<% end %>

<% if @people.present? %>
<h2>Results</h2>
<%= render "people/results" %>
<% end %>
