<h1>Advanced Search</h1>

<%= form_tag search_path, :method => 'get', :class => "form-horizontal" do %>
  <div class="control-group string optional">
    <label class="string optional control-label" for="given">Given Name</label>
    <div class="controls">
      <%= text_field_tag :given, params[:given] %>
    </div>
  </div>
  <div class="control-group string optional">
    <label class="string optional control-label" for="family">Family Name</label>
    <div class="controls">
      <%= text_field_tag :family, params[:family] %>
    </div>
  </div>
  <div class="form-actions">
  <%= submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
  </div>

  <%= render "people/results" %>

<% end %>
