<h1>Search</h1>

<%= simple_form_for @search, :method => 'get' do |s| %>
  <%= s.input :given, label: "Given (First) Name" %>
  <%= s.input :family, label: "Family (Last) Name" %>

  <%= s.button :wrapped, "Search", :cancel => searches_path %>
<% end %>

<% if @people.present? %>
<h2>Results</h2>
<%= render "people/results" %>
<% end %>
