<!DOCTYPE html>
<html>
<head>
  <title>PDMP Spike</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="search"
        type="application/opensearchdescription+xml"
        href="<%= opensearch_url %>"
        title="PDMP Patient Search" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inner navbar-static-top">
    <p class="navbar-text pull-right">
      <%= yield(:authn) %>
    </p>
    <a class="brand" href="/">PDMP Spike</a>
</div>

<% if flash[:notice] %>
<div class="container alert alert-success">
  <%= notice %>
  <button class="close" data-dismiss="alert" type="button">&#215;</button>
</div>
<% end %>
<% if flash[:alert] %>
<div class="container alert">
  <%= alert %>
  <button class="close" data-dismiss="alert" type="button">&#215;</button>
</div>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
