<% content_for :authn do %>
<%= link_to current_user.email, edit_user_registration_path, :title => "Manage your account" %> 
| 
<%= link_to 'Sign out', destroy_user_session_path, :method => :delete  %>
<% end %>

<% content_for :content do %>
<div class="content">
  <% if notice %><p class="notice"><%= notice %></p><% end %>
  <% if alert %><p class="alert"><%= alert %></p><% end %>

  <%= yield %>
</div>
<% end %>
<%= render :file => 'layouts/application' %>
